Create a list of squares of numbers from 1 to 10 using list comprehension.

In [6]:
[i**2 for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

Generate a list of even numbers from 1 to 20 using list comprehension.

In [9]:
[i for i in range(1,20) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

Create a list of the first letters of each word in the list: ["apple", "banana", "cherry", "date"].

In [10]:
words = ["apple", "banana", "cherry", "date"]

In [11]:
first_letters = [w[0] for w in words]
print(first_letters)

['a', 'b', 'c', 'd']

Convert a list of temperatures in Celsius [0, 10, 20, 30, 40] to Fahrenheit using list comprehension. (Formula: F = (C * 9/5) + 32)

In [13]:
celsius = [0, 10, 20, 30, 40]

In [14]:
fahrenheit = [(c * 9/5) + 32 for c in celsius]
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

Create a list of the first 10 natural numbers using list comprehension.

In [18]:
natural_num=[i for i in range(1,10)]

In [19]:
natural_num

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Generate a list of cubes of numbers from 1 to 10.

In [21]:
cubes =[i**3 for i in range(1,10)]

In [22]:
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729]

**Given a string "Python is fun", create a list of words in the string.**

In [1]:
s = "python is fun"

In [3]:
words = [w for w in s.split()]
print(words)

['python', 'is', 'fun']

**Convert a list of strings ["Hello", "World", "Python"] to uppercase using list comprehension.**

In [10]:
words = ["Hello", "World", "Python"]

In [12]:
upper_words = [w.upper() for w in words]
print(upper_words)

['HELLO', 'WORLD', 'PYTHON']

**Create a list of numbers from 1 to 50 that are divisible by both 3 and 5.**

In [13]:
s = [i for i in range(1,50 ) if i%3==0 and i%5==0]

In [14]:
s

[15, 30, 45]

**Given a list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], create a new list containing only the odd numbers.**

In [16]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
[ i for i in l if i%2!=0]

[1, 3, 5, 7, 9]

**given a string "hello world", create a list of vowels present in the string.**

In [19]:
text = "hello world"
vowels = [ch for ch in text if ch in "aeiou"]
print(vowels)

['e', 'o', 'o']

**Convert a list of words ["Hello", "WORLD", "Python", "LiSt"] to lowercase using list comprehension.**

In [21]:
words = ["Hello", "WORLD", "Python", "LiSt"]

In [22]:
lower_case = [w.lower() for w in words]

In [24]:
lower_case

['hello', 'world', 'python', 'list']

**Create a list of even numbers from 1 to 50.**

In [25]:
[ i for i in range (1,50) if i%2==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

**Generate a list of numbers from 1 to 20 that are not divisible by 3.**

In [3]:
s = [i for i in range(1,20) if i%3!=0]

In [4]:
s

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

**Given a list [5, 12, 17, 9, 3, 21, 30], create a new list containing only numbers greater than 10.**

In [5]:
l = [5, 12, 17, 9, 3, 21, 30]

In [7]:
g=[i for i in l if i>10]

In [8]:
g

[12, 17, 21, 30]

**Create a list of squares of only the even numbers from 1 to 10.**

In [12]:
[i**2 for i in range(1,10) if i%2==0]

[4, 16, 36, 64]

**Given a list of words ["dog", "elephant", "cat", "rabbit"], create a new list containing only words with more than 3 letters.**

In [13]:
j = ["dog", "elephant", "cat", "rabbit"]

In [15]:
m = [w in j if w[i]>3]

SyntaxError: expected 'else' after 'if' expression (2711704422.py, line 1)