1. Create a string variable and print its length.

In [4]:
x = "sofiya"
len(x)

6

2. Take a string input from the user and print it in reverse.

In [5]:
s = "aimnxt"
s[::-1]

'txnmia'

3. Replace all occurrences of "a" with "@" in a given string.

In [11]:
s = "datascience in aimnxt"
s.replace("a" ,"@")

'd@t@science in @imnxt'

4. Convert a string to all uppercase letters using a loop (without .upper()).

In [13]:
s = "sofiya shaik"
s.upper()

'SOFIYA SHAIK'

5. Count how many times the letter "e" appears in a string.

In [15]:
s = "i lovee eating icecream"
s.count("e")

5

6. Print the first and last character of a given string.

In [23]:
s = "data science"
s[0]

'd'

In [24]:
s[-1]

'e'

7. Concatenate two strings and print the result.

8. Check if a given string contains the word "Python".

9. Remove all spaces from a string and print the new string.

10.Extract and print the first five characters of a string.

In [32]:
s1 = "aimnxt"
s2 = "data science"
s1+s2

'aimnxtdata science'

In [34]:
s = "im learning python"
"python" in s

True

In [44]:
s = "hey im sofiya"
s.replace(" ", "")

'heyimsofiya'

In [43]:
s = "aimnxt in hyd"
s[0:5]

'aimnx'

11.Create a list of five numbers and print the list.

12.Print the third element of a given list.

13.Replace the second element of a list with "hello".

14.Add a new element to the end of a list.

15.Remove the last element from a list and print the modified list.

In [79]:
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [80]:
l[3]

4

In [81]:
l [3] = 6

In [82]:
l

[1, 2, 3, 6, 5]

In [83]:
l.append(9)

In [84]:
l

[1, 2, 3, 6, 5, 9]

In [85]:
l.pop(5)

9

In [87]:
l

[1, 2, 3, 6, 5]

16.Print each element of a list one by one using a loop.

17.Check if the number 10 is in a given list.

18.Create two lists and join them into one.

19.Print a list in reverse order without using slicing ([::-1]).

20.Sort a list in ascending order without using .sort().

In [1]:
s = [1,2,3,4,5]

In [2]:
s = [10,20,30,40]
10 in (s)

True

In [3]:
s1 = [1,2,3]
s2 = [44,45,46]
s1 + s2

[1, 2, 3, 44, 45, 46]

In [6]:
p = [1,2,3,4,5,6]

In [11]:
p.reverse()

In [12]:
p

[6, 5, 4, 3, 2, 1]

In [ ]:
#not answered

21.Create a tuple of three colors and print it.

22.Print the second element of a given tuple.

23.Try changing an element in a tuple (observe the error).

24.Convert a tuple to a list and print it.

25.Check if "blue" exists in a given tuple.

In [13]:
t = ("red","black","green")
print(t)

('red', 'black', 'green')

In [16]:
print(t[1])

black

In [17]:
t[1] = "brown"  #tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [18]:
list(t)

['red', 'black', 'green']

In [21]:
t

('red', 'black', 'green')

In [24]:
"blue" in t

False

26.Print each element of a tuple using a loop.

27.Merge two tuples and print the result.

28.Print a tuple in reverse order.

29.Find the length of a tuple without using len().

30.Create a tuple with a single element and print its type.

In [25]:
t1 = ("sofi","nawaz","sunny")
t2 = ("shaheen","pyari","affi")

In [27]:
t3 = t1 + t2

In [28]:
t3

('sofi', 'nawaz', 'sunny', 'shaheen', 'pyari', 'affi')

In [29]:
t3.reverse() #tuples are immutable

AttributeError: 'tuple' object has no attribute 'reverse'

In [30]:
len(t3)

6

In [31]:
t = ("saniya")
type(t)

str

31.Create a string "Hello, World!" and print only "World!".

32.Convert "Python is fun" to "PYTHON IS FUN" without using .upper().

33.Count how many words are in "I love learning Python" (without using .split()).

34.Take a string input from the user and check if it starts with "Hello".

In [32]:
s = "Hello ,world"
print(s[7:])

world

In [2]:
#32
text = "Python is fun"
result = ""
for c in text:
    result += c if not c.islower() else c.swapcase()
print(result)

PYTHON IS FUN

In [35]:
l = "i love learning python"
l.count(" ") + 1

4

In [1]:
text = input("Enter a string: ")
if text[:5] == "Hello":
    print("Yes, it starts with Hello")
else:
    print("No, it doesn't start with Hello")

Enter a string:  fxfsr

No, it doesn't start with Hello


35.Print every second character of a string.

36.Replace all vowels in a string with "*".

37.Swap the first and last character of a string.

38.Check if two given strings are the same (case-sensitive).

39.Print a string without the first and last character.

40.Convert a string "12345" into a list of individual characters.

In [42]:
s = "hey there im sofiya"
s[0::2]

'hyteei oia'

In [3]:
#36
text = "Python is fun"
vowels = "aeiouAEIOU"
result = "".join("*" if c in vowels else c for c in text)
print(result)

Pyth*n *s f*n

In [4]:
#37
text = "Python"
result = text[-1] + text[1:-1] + text[0] if len(text) > 1 else text
print(result)

nythoP

In [44]:
s1 = "hello"
s2 = "Hello"
print(s1 == s2)

False

In [45]:
s = "python"
print(s[1:-1])

ytho

In [46]:
s = "12345"
list(s)

['1', '2', '3', '4', '5']

41.Create a list of five cities and print only the last three.

42.Remove the middle element from a list of five elements.

43.Take five numbers from the user and store them in a list.

44.Find the index of "apple" in the list ["banana", "orange", "apple", "grape"].

45.Print only the even numbers from a given list.

In [63]:
f = ["banglore","baroda","kurnool","chennai","vizag"]
f[2:5]

['kurnool', 'chennai', 'vizag']

In [64]:
f

['banglore', 'baroda', 'kurnool', 'chennai', 'vizag']

In [65]:
f.remove("kurnool")

In [66]:
f

['banglore', 'baroda', 'chennai', 'vizag']

In [6]:
l1 = []
for i in range(7):
    n = int(input("Enter a number: "))
    l1.append(n)
print(l1)

Enter a number:  7
Enter a number:  8
Enter a number:  7
Enter a number:  6
Enter a number:  4
Enter a number:  5
Enter a number:  5

[7, 8, 7, 6, 4, 5, 5]

In [69]:
m = ["banana", "orange", "apple", "grape"]
m.index("apple")

2

In [70]:
lst = [1,2,3,4,5,6,7,8]
for n in lst:
    if n % 2 == 0:
        print(n)

2
4
6
8

46.Reverse a list by swapping elements (without [::-1]).

47.Create a list of ten numbers and print only the unique elements.

48.Print the sum of all elements in a list (without using sum()).

49.Move the first element of a list to the last position.

50.Create a list with mixed data types (int, float, string) and print each element with its type.

In [77]:
s = [4,5,6,7]
s.reverse()

In [78]:
s

[7, 6, 5, 4]

In [97]:
s = [1,11,2,3,2,4,1,5,8,55]
len(s)

10

In [99]:
set(s)

{1, 2, 3, 4, 5, 8, 11, 55}

In [ ]:
#48

In [100]:
 lst = [1,2,3,4,5]
lst = lst[1:] + lst[:1]
print(lst)

[2, 3, 4, 5, 1]

In [ ]:
#50

51.Create a tuple of five numbers and print only the first three.

52.Print the last element of a tuple without using negative indexing.

53.Convert a tuple (1, 2, 3, 4, 5) into a list and add a new number.

54.Try deleting an element from a tuple and observe the error.

55.Extract the middle element from a tuple with an odd number of elements.

In [105]:
t = (10, 20, 30, 40, 50)
t[:3]

(10, 20, 30)

In [107]:
t = (10, 20, 30, 40, 50)
print(t[len(t)-1])

50

In [121]:
t = (1,2,3,4,5)

In [122]:
n=set(t)

In [123]:
n

{1, 2, 3, 4, 5}

In [125]:
n.add(6)

In [131]:
n.pop(6)

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
#tupe is immutable

In [132]:
t

(1, 2, 3, 4, 5)

In [136]:
t[2]

3

56.Check if two tuples (1, 2, 3) and (3, 2, 1) are the same.

57.Create a nested tuple and print an inner element.

58.Merge three tuples into one.

59.Find the index of 5 in the tuple (1, 3, 5, 7, 9).

60.Unpack a tuple into separate variables.

In [137]:
t1 = (1,2,3)
t2 = (3,2,1)

In [138]:
t1 == t2

False

In [140]:
#57
t = (1, (2, 3), 4)
print(t[1][0])

2

In [141]:
t3 = (4,5,6)

In [142]:
t1 + t2 + t3

(1, 2, 3, 3, 2, 1, 4, 5, 6)

In [145]:
t = (1,3,5,7,9)

In [148]:
t

(1, 3, 5, 7, 9)

In [149]:
t.index(5)

2

In [150]:
t = (10, 20, 30)
a, b, c = t
print(a, b, c)

10 20 30

61. Create a dictionary with the following key-value pairs:
	name: "Alice", age: 25, city: "New York"
62: person = {"name": "Alice", "age": 25, "city": "New York"}

	Print the value associated with the key "city"

63: Update the age of Alice to 26 in the dictionary

64. Add a new key "email" with value "alice@example.com" to the dictionary

65. Delete the key "city" from the dictionary

In [157]:
s = {"name" : "Alice", "age" : 25 , "city" : "New York"}
print(s)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [161]:
s["city"]

'New York'

In [162]:
s["age"] = 26

In [163]:
s

{'name': 'Alice', 'age': 26, 'city': 'New York'}

In [166]:
s["email"] = "sofi@gamil.com"

In [168]:
s

{'name': 'Alice', 'age': 26, 'city': 'New York', 'email': 'sofi@gamil.com'}

In [169]:
del s["city"]

In [170]:
s

{'name': 'Alice', 'age': 26, 'email': 'sofi@gamil.com'}

66. Check if the key "email" exists in the dictionary

67: Create a dictionary of students:

 {
    "Alice": {"math": 90, "science": 85},     
    "Bob": {"math": 75, "science": 95}
 }

Print Bob's science score.

In [171]:
s

{'name': 'Alice', 'age': 26, 'email': 'sofi@gamil.com'}

In [172]:
"email" in s

True

In [173]:
p = { "Alice": {"math": 90, "science": 85}, "Bob": {"math": 75, "science": 95} }

In [178]:
(p["Bob"]["science"])

95

68. Create a set named `fruits` with the items: "apple", "banana", "cherry"

69. Add "orange" to the set `fruits`

70. Remove "banana" from the set `fruits`
    What happens if you try to remove an item that doesn’t exist?

71. Check if "apple" is in the set `fruits`

72. Given a list: [1, 2, 2, 3, 4, 4, 5]
    Use a set to remove duplicates

73. Given a sentence: "hello world and hello python"
    Find all unique words

In [16]:
fruits = { "apple", "banana", "cherry"}
print(fruits)

{'cherry', 'apple', 'banana'}

In [19]:
fruits.add("orange")

In [20]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [21]:
fruits.discard("banana")

In [24]:
fruits

{'apple', 'cherry', 'orange'}

In [25]:
"apple" in fruits

True

In [7]:
#72 and 73
nums = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(nums))
print(unique)

[1, 2, 3, 4, 5]

In [8]:
text = "hello world and hello python"
unique_words = set(text.split())
print(unique_words)

{'world', 'python', 'and', 'hello'}

In [9]:
list =  [1, 2, 2, 3, 4, 4, 5]

In [10]:
set(list)

{1, 2, 3, 4, 5}

In [11]:
sentence = "hello world and hello python"
unique_words = set(sentence.split())
print(unique_words)

{'world', 'python', 'and', 'hello'}