1. Write a function that accepts any number of numerical arguments and returns their sum.
Example:
sum_numbers(1, 2, 3, 4)

In [61]:
def sum(*a):
    l=[]
    for i in a:
        l=l+i
    print(l)

In [62]:
sum_numbers(1,2,3,4)

10

2. Create a function that takes multiple names as arguments and prints them one by one.
Example:print_names("Alice", "Bob", "Charlie")

In [63]:
def name(*a):
    for i in a:
        print(i)

In [64]:
name("alice","bob","charlie")

alice
bob
charlie

3. Write a function that finds the maximum number among any number of arguments using *args.

In [65]:
def max_number(*a):
  max=a[0]
  for i in a:
    if i>max:
      max=i
  return max

In [66]:
max_number(10,15,25,40)

40

In [67]:
def even(*a):
  l=[]
  for i in a:
     if i%2==0:
        l.append(i)
  print(l)

In [68]:
even(1,2,3,4,5,6,7,8,9,10,12,15)

[2, 4, 6, 8, 10, 12]

4. Create a function that accepts a mix of numbers and strings but stores only numbers in a separate list.
Example:filter_numbers(10, "apple", 25, "banana", 30)  
  Output: [10, 25, 30]

In [69]:
def num(*a):
    numbers=[]
    for i in a:
        if type(i) == int:
            numbers.append(i)
    print(numbers)

In [70]:
num(10, "apple", 25, "banana", 30)

[10, 25, 30]

5. Write a function that accepts any number of arguments and returns the product of all numbers.
Example:multiply(2, 3, 4)  
Output: 24

In [71]:
def mul(*a):
    pro=1
    for i in a:
        pro*=i
    print(pro)

In [72]:
mul(1,2,3,4,5)

120

6. Create a function that takes multiple words as arguments and returns a list of words that have more than 5 characters.

In [73]:
def words(*a):
    for i in a:
        if len(i)>5:
            print(i)

In [74]:
words("aim","aimnxt","cat","sofiya")

aimnxt
sofiya


7. Write a function that takes any number of arguments and separates integers and non-integers into two different lists.

In [75]:
def uni(*a):
    num=[]
    alpha=[]
    for i in a:
        if type(i)==int:
            num.append(i)
        if type(i)==str:
            alpha.append(i)
    print("intergers:",num)
    print("non intergers:",alpha)

In [76]:
uni("sofiya",45,34,"stars","moon","system",5,8)

intergers: [45, 34, 5, 8]
non intergers: ['sofiya', 'stars', 'moon', 'system']

8. Create a function that takes multiple numbers as input and returns the largest and smallest numbers from the arguments.

In [77]:
def max_min(*a):
  smallest = a[0]
  largest = a[0]
  for i in a:
    if i<smallest:
      smallest = i
    if i>largest:
      largest = i
  print("Smallest number among all the numbers: ",smallest)
  print("Largest number among all the numbers: ",largest)

In [78]:
max_min(15,1,2,8,189,8,69,536,7)

Smallest number among all the numbers:  1
Largest number among all the numbers:  536

9. Write a function that accepts multiple elements and prints only the elements at even index positions.

In [79]:
def ext(*a):
  for i in range(len(a)):
    if i%2==0:
      print(a[i])

In [80]:
ext(2,4,6,3,7,8,9)

2
6
7
9

***Questions on **kwargs (Keyword Arguments)***

1. Write a function that takes any number of keyword arguments and prints them in key-value pairs.
Example:
show_info(name="Alice", age=25, city="New York")  
Output:
name: Alice
age: 25
city: New York

In [81]:
def show_info(**a):
  for k,v in a.items():
       print(k,":",v)

In [82]:
show_info(name="Alice",age=25,city="New York")

name : Alice
age : 25
city : New York


2. Create a function that takes student details (name, age, grade) using **kwargs and prints them in a formatted way.

In [83]:
def student_details(**a):
   for k,v in a.items():
      print(k,":",v)

In [84]:
student_details(name="hema",age=24,grade="B")

name : hema
age : 24
grade : B

3. Write a function that accepts both *args and **kwargs and prints their values separately.

In [85]:
def ext(**a):
   for k,v in a.items():
       print(v)

In [86]:
ext(name="caroline",age="14",city="Hyderabad")

caroline
14
Hyderabad


4. Create a function that accepts a dictionary using **kwargs and store all the values in a seperate list.

In [87]:
def ext(**a):
  l=[]
  for k,v in a.items():
    l.append(v)
  print(l)

In [88]:
ext(name="Ram",age=24,city="Hyderabad")

['Ram', 24, 'Hyderabad']

5. Write a function that takes a product name and an unknown number of attributes using **kwargs and prints the product details.
Example:
product_details("Laptop", brand="Dell", price=70000, color="Black")  
Output:
Product: Laptop
brand: Dell
price: 70000
color: Black

In [89]:
def product_details(**a):
  for k,v in a.items():
     print(k,":",v)

In [90]:
product_details(product="Laptop",brand="Dell",price=70000,color="Black")

product : Laptop
brand : Dell
price : 70000
color : Black

6. Write a function that takes multiple keyword arguments and prints only those where the value is a string.

In [91]:
def ext(**a):
  for k,v in a.items():
    if type(v)==str:
      print(k,":",v)

In [92]:
ext(name="Amrutha",age=20,city="Hyderabad",grade="A",marks=95)

name : Amrutha
city : Hyderabad
grade : A

7. Write a function that accepts a dictionary of student details (name, age, grade) and prints only the details where the value is an integer.

In [93]:
def ext(**a):
  for k,v in a.items():
    if type(v)==int:
      print(k,":",v)

In [94]:
ext(name="sofiya",age=21,grade="A")

age : 21

8. Create a function that takes any number of keyword arguments and returns a dictionary containing only the key-value pairs where the values are strings.

In [95]:
def dictionary(**a):
  for k,v in a.items():
    if type(v)==str:
       print(k,":",v)

In [96]:
dictionary(name="Amrutha", age=25, city="Hyderabad", experience=3, role="Data Scientist")

name : Amrutha
city : Hyderabad
role : Data Scientist

9. Write a function that takes keyword arguments representing product details and prints the product name only if a "price" key exists.

In [97]:
def product_details(**a):
  for k,v in a.items():
    if k=="price":
      print(a["name"])

In [98]:
product_details(name="Laptop", price=55000, warranty=24, stock=120, discount=15)

Laptop

10. Create a function that takes keyword arguments representing an employee's details and returns only those whose values are greater than 30 (for numerical values).

In [99]:
def employee_details(**a):
  for k,v in a.items():
       if type(v)==int and v>30:
         print(k,":",v)

In [100]:
employee_details(name="Amrutha", age=28, experience=35, salary=45000)

experience : 35
salary : 45000

11. Write a function that accepts a dictionary of country populations and prints only those countries where the population is greater than 50 million.

In [101]:
def population(**a):
  for k,v in a.items():
    if v>50000000:
      print(k)

In [102]:
population(India=98000000,Australia=48000000,China=54000000,Germany=40000000)

India
China